.movies-cardlist {
    display: grid;
    gap: 37px 24px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 364px));
    justify-content: center;
    margin: 70px 0 10px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .movies-cardlist {
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(auto, 339px));
        margin: 70px 0 30px;
    }
}

@media screen and (max-width: 525px) {
    .movies-cardlist {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
        margin: 40px 0 26px;
    }
}