.filter-checkbox {
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-height: 40px;
    margin: 27px 0 44px;
    /* margin-bottom: 44px; */
    /* padding: 0 70px; */
}

.filter-checkbox__input {
    width: 0;
    height: 0;
}

.filter-checkbox:focus-within .filter-checkbox__label {
    outline: 2px solid #202020;
}

.filter-checkbox__label {
    position: relative;
    text-indent: -100px;
    width: 36px;
    height: 20px;
    background: #202020;
    border-radius: 20px;
    cursor: pointer;
}

.filter-checkbox__label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #202020;
    border-radius: 50%;
    transition: 0.2s;
}

.filter-checkbox__input:checked+label:after {
    background: #3DDC84;
}

.filter-checkbox__input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.filter-checkbox__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-left: 14px;
}

.border {
    border-bottom: 1px solid #AAAAAA;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 10px;
    opacity: 0.2;
}

@media screen and (max-width: 768px) {
    .filter-checkbox {
        min-height: 36px;
        margin: 27px 0 52px;
        /* margin-bottom: 51px; */
        /* padding: 0 30px; */
    }

    .filter-checkbox__label:after {
        width: 16px;
        height: 16px;
        top: 1px;
        left: 3px;
    }

    .border {
        max-width: 708px;
    }
}

@media screen and (max-width: 525px) {
    .filter-checkbox {
        margin: 31px 0 64px;
        /* margin-bottom: 63px; */
        /* padding: 0 14px; */
    }

    .filter-checkbox__text {
        padding-left: 13px;
        font-size: 11px;
    }

    .border {
        max-width: 292px;
    }
}