.moviescard__content {
    max-width: 364px;
    max-height: 281px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background: #222222;
}

.moviescard__image {
    vertical-align: bottom;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.1s ease-in;
}

.moviescard__image:hover {
    opacity: 0.7;
}

.moviescard__description {
    padding: 16px;
    position: relative;
}

.moviescard__name {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 17px;
}

.moviescard__duration {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
}

.moviescard__like-btn {
    background: no-repeat center/contain url('../../../images/heart-black.png');
    padding: 0;
    margin: 0;
    width: 14px;
    height: 12px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 24px;
}

.moviescard__like-btn_active {
    background: no-repeat center/contain url('../../../images/heart-red.svg');
}

.moviescard__delete-btn {
    background: no-repeat center/contain url('../../../images/delete-button.svg');
    display: none;
    padding: 0;
    margin: 0;
    width: 14px;
    height: 12px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 24px;
}

.moviescard__container:hover .moviescard__delete-btn {
    display: block;
}

@media screen and (max-width: 768px) {
    .moviescard__content {
        max-width: 339px;
        max-height: 262px;
    }

    .moviescard__description {
        padding: 14px;
    }

    .moviescard__name {
        margin: 0 0 15px;
    }

    .moviescard__like-btn {
        top: 18px;
        right: 22px;
    }

    .moviescard__delete-btn {
        width: 7px;
        height: 7px;
        top: 20px;
        right: 25px;
    }
}

@media screen and (max-width: 525px) {
    .moviescard__content {
        max-width: 300px;
    }

    .moviescard__image {
        max-height: 168px;
    }

    .moviescard__name {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 14px;
    }

    .moviescard__duration {
        font-size: 10px;
        line-height: 12px;
    }

    .moviescard__like-btn {
        top: 17px;
        right: 18px;
    }

    .moviescard__delete-btn {
        background: no-repeat center/contain url('../../../images/delete-button.svg');
        display: none;
        padding: 0;
        margin: 0;
        width: 14px;
        height: 12px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 22px;
        right: 19px;
    }
}